.blog {
  text-decoration: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 20px;
  width: 44%;
  color: black; 
  height: 250px; 
}

.blog__title {
  font-weight: bold;
  font-size: 26px;
  margin: 10px 0px 10px 0px;
}

.blog__meta-data {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}

.blog__date {
  align-content: center;
}

.blog__divider {
  margin-left: 15px;
  margin-right: 15px;
}

.blog__tags {
  display: flex;
  flex-direction: row;   
}

.blog__tag-name {
  align-content: center;
  margin-right: 10px; 
}

.blog__content {
  font-size: 16px;
  margin: 10px 0px 10px 0px;
  line-height: 1.2
}

