.work {
  display: flex;
  align-content: center;
  margin: 10px 0px 10px 0px;
  flex-direction: column;
}

.work__image img{
  align-items: center;
  display: flex;
  padding: 0px;
  height: 260px;
  width: auto;
}

.work__data {
  margin-left: 20px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.work__title {
  font-weight: bold;
  font-size: 25px;
}

.work__meta-data {
  display: flex;
}

.work__year {
  background-color: black;
  font-size: 16px;
  color: white;
  width: 60px;
  border-radius: 20px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__tag-name {
  font-weight: 100;
  font-size: 20px;
  margin-left: 20px;
}

.work__content {
  font-size: 16px;
  font-weight: 200px;
}

.work__link {
  font-size: 15px;
}
