.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer__icon {
  margin: 0px 20px 0px 20px;
}

.footer__created-by {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 15px 0px 15px 0px;
}

.footer__name {
  color: #00A8CC;
  font-weight: 600;
}
