.portfolio {
  display: flex;
  margin-inline: auto;
  width: min(70%, 70.5rem);
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-wdith:100px) {
  .portfolio {
    flex-direction: row;
  }
}


.portfolio__intro {
  margin-inline: auto;
  width: 100%;
  text-align: center;
}

.portfolio__salutation {
  font-weight: bold;
  font-size: 44px;
  margin: 20px 0px 20px 0px;
}

.portfolio__description {
  margin: 20px 0px 20px 0px;
}

.porfolio__download-resume {
  height: 47px;
  width: 208px;
  background-color: #ff6464;
  border: none;
  border-radius: 2px;
  color: white;
  margin: 15px 0px 15px 0px;
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;

  &:hover {
    background-color: #fa4c4c;
  }
}

.portfolio__display-picture {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.portfolio__image {
  height: 243px;
  width: 243px;
}

.featured-blogs {
  background-color: #edf7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

@media (min-wdith: 40em) {
  .featured-blogs {
    flex-direction: row;
  }
}

.featured-blogs__header {
  margin-inline: auto;
  width: min(70%, 70.5rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0px 15px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.featured-blogs__recent-posts {
  font-size: 20px;
  font-weight: 400;
}

.featured-blogs__view-all {
  color: #00A8CC;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;

  &:hover{
    font-weight: 600;
  }
}

.featured-blogs__list {
  margin-inline: auto;
  width: min(70%, 70.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-wdith: 40em) {
  .featured-blogs__list {
    flex-direction: row;
  }
}

.featured-works {
  margin-inline: auto;
  width: min(70%, 70.5rem);
  margin-top: 20px;
}

.featured-works__header {
  padding: 10px 0px 10px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.featured-works__list {
  display: flex;
  flex-direction: column;
}

.separator {
  border-bottom: solid 1px #ccc;
  margin: 15px 0px 15px 0px;
  width: 100%;
}
