p {
  padding: 0px;
}
.mp-body {
  display: flex;
  margin: 0 auto;
  width: 70%;
  padding-bottom: 30px;
  padding-top: 30px;
  justify-content: space-between;
}

#posts-header {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.featured-works {
  margin: 0 auto;
  margin-top: 20px;
  margin-top: 20px;
  width: 70%;
}

#feature-works-header{
    margin-bottom: 10px;
}

#posts {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mp-intro {
  width: 506px;
}
img#profile-photo {
  height: 243px;
  width: 243px;
}
button {
  height: 47px;
  width: 208px;
  background-color: #ff6464;
  border: none;
  border-radius: 2px;

  color: white;
}
#main-text {
  font-weight: bold;
  font-size: 44px;
  margin: 20px 0px 20px 0px;
}

button#download-resume-button {
  margin: 15px 0px 15px 0px;
}

#description {
  margin: 20px 0px 20px 0px;
}

.work-list {
  display: flex;
  flex-direction: column;
}
